<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.dassault.edt.perspective.EcoadtPerspectiveFactory"
            fixed="false"
            id="com.dassault.edt.perspective"
            name="ECOADT">
         <description>
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.dassault.edt.category"
            name="ECOADT">
      </category>
      <wizard
            category="com.dassault.edt.category"
            class="com.dassault.edt.wizard.EcoadtProjectNewWizard"
            icon="icons/128x128/project.png"
            id="com.dassault.edt.wizard"
            name="ECOA DT Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.dassault.edt.perspective">
         <view
               closeable="false"
               id="com.dassault.edt.ui.dashboard"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="false">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="com.dassault.edt.ui.dashboard"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dassault.edt.handlers.OpenHardwareHandler"
            commandId="com.dassault.edt.commands.openHardware">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <test
                        property="com.dassault.edt.properties.existProject">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.dassault.edt.properties.EcoadtPropertyTester"
            id="com.dassault.edt.properties.ecoadtPropertyTester"
            namespace="com.dassault.edt.properties"
            properties="existProject"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         id="com.dassault.edt.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="com.dassault.edt.ui.activity"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activity
            id="com.dassault.edt.ui.activity"
            name="EcoadtActivity">
      </activity>
      <activityPatternBinding
            activityId="com.dassault.edt.ui.activity"
            pattern="org.eclipse.ui.edit.*">
      </activityPatternBinding>
   </extension>

</plugin>
